<div class="section-pb selection">
  <div class="selection__center center">
    <div class="selection__row">
      <div class="selection__col"><a class="selection__card" href="item.html">
          <div class="selection__preview"><img srcSet="assets/img/content/selection-pic-1@2x.jpg 2x"
              src="assets/img/content/selection-pic-1.jpg" alt="Selection"></div>
          <div class="selection__head">
            <div class="selection__line">
              <div class="selection__avatar"><img src="assets/img/content/avatar-1.jpg" alt="Avatar"></div>
              <div class="selection__description">
                <div class="selection__title">The future of ETH®</div>
                <div class="selection__counter">18 in stock</div>
              </div>
            </div>
            <div class="selection__box">
              <div class="selection__content">Highest bid</div>
              <div class="selection__price">1.125 ETH</div>
            </div>
          </div>
        </a></div>
      <div class="selection__col"><a class="selection__item" href="item.html">
          <div class="selection__preview"><img srcSet="assets/img/content/selection-pic-2@2x.jpg 2x"
              src="assets/img/content/selection-pic-2.jpg" alt="Selection"></div>
          <div class="selection__description">
            <div class="selection__title">ETH never die</div>
            <div class="selection__line">
              <div class="selection__avatar"><img src="assets/img/content/avatar-4.jpg" alt="Avatar"></div>
              <div class="selection__price">0.27 ETH</div>
              <div class="selection__content">1 of 12</div>
            </div>
            <button class="button-stroke button-small selection__button">Place a bid</button>
          </div>
        </a><a class="selection__item" href="item.html">
          <div class="selection__preview"><img srcSet="assets/img/content/selection-pic-1@2x.jpg 2x"
              src="assets/img/content/selection-pic-1.jpg" alt="Selection"></div>
          <div class="selection__description">
            <div class="selection__title">Future coming soon</div>
            <div class="selection__line">
              <div class="selection__avatar"><img src="assets/img/content/avatar-3.jpg" alt="Avatar"></div>
              <div class="selection__price">0.27 ETH</div>
              <div class="selection__content">1 of 3</div>
            </div>
            <button class="button-stroke button-small selection__button">Place a bid</button>
          </div>
        </a><a class="selection__item" href="item.html">
          <div class="selection__preview"><img srcSet="assets/img/content/selection-pic-3@2x.jpg 2x"
              src="assets/img/content/selection-pic-3.jpg" alt="Selection"></div>
          <div class="selection__description">
            <div class="selection__title">Elon Musk silver coin 3d print</div>
            <div class="selection__line">
              <div class="selection__avatar"><img src="assets/img/content/avatar-4.jpg" alt="Avatar"></div>
              <div class="selection__price">0.27 ETH</div>
              <div class="selection__content">1 of 4</div>
            </div>
            <button class="button-stroke button-small selection__button">Place a bid</button>
          </div>
        </a></div>
    </div>
    <div class="selection__sidebar">
      <div class="selection__info">Latest upload from creators <span role="img" aria-label="fire">🔥</span></div>
      <div class="selection__list">
        <div class="selection__user">
          <div class="selection__avatar"><img src="assets/img/content/avatar-1.jpg" alt="Avatar">
            <div class="selection__number">6</div>
          </div>
          <div class="selection__description">
            <div class="selection__name">Payton Harris</div>
            <div class="selection__price"><span>2.456</span> ETH</div>
          </div>
        </div>
        <div class="selection__user">
          <div class="selection__avatar"><img src="assets/img/content/avatar-2.jpg" alt="Avatar">
            <div class="selection__number">2</div>
          </div>
          <div class="selection__description">
            <div class="selection__name">Anita Bins</div>
            <div class="selection__price"><span>2.456</span> ETH</div>
          </div>
        </div>
        <div class="selection__user">
          <div class="selection__avatar"><img src="assets/img/content/avatar-3.jpg" alt="Avatar">
            <div class="selection__number">3</div>
          </div>
          <div class="selection__description">
            <div class="selection__name">Joana Wuckert</div>
            <div class="selection__price"><span>2.456</span> ETH</div>
          </div>
        </div>
        <div class="selection__user">
          <div class="selection__avatar"><img src="assets/img/content/avatar-4.jpg" alt="Avatar">
            <div class="selection__number">4</div>
          </div>
          <div class="selection__description">
            <div class="selection__name">Lorena Ledner</div>
            <div class="selection__price"><span>2.456</span> ETH</div>
          </div>
        </div>
      </div><a class="button-stroke button-small selection__button" href="search01.html"><span>Discover more</span>
        <svg class="icon icon-arrow-next">
          <use xlink:href="#icon-arrow-next"></use>
        </svg></a>
    </div>
  </div>
</div>