<app-header-datatables 
  [searchBy]="'Name'"
  [globalParams]="globalParams" 
  (reloadData)="reloadData()"
  [entity]="'Weapon'"
  [entities]="'Weapons'"
  [showColumns]="showColumns"
  (createDialog)="openCreateDialog()">
</app-header-datatables>

<div class="container-fluid">
  <div class="">
    <!-- Progress Bar -->
    <div [hidden]="!loader">
      <mat-progress-bar mode="query" ></mat-progress-bar>
    </div>
    <app-datatable
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [privilegeEntity]="'Weapon'"
    [showColumns]="showColumns"
    (deleteAction)="delete($event)"
    (displayAction)="show($event)"
    (updateAction)="openEditDialog($event)"
      >

    </app-datatable>
    <mat-paginator [length]="totalItems" [pageSize]="10" (page)="setPage($event)" showFirstLastButtons></mat-paginator>
  </div>
</div>