<div class="page page_login">

  <div class="page__wrapper">
    <div class="login" style="background-image: url('img/bg-sign-in.png');">
      <div class="login__container">
        <div class="login__wrap"><a class="login__logo" href="index.html"><img class="login__pic"
              src="img/logo-white.svg" alt=""></a>
          <div class="login__info">A Video Gaming Platfrom UI Kit</div>
          <div class="games"><a class="games__item" href="#">
              <div class="games__preview"><img class="games__pic" src="img/game-1.png" /></div>
              <div class="games__details">
                <div class="games__title">Call of Duty®</div>
                <div class="games__category">Shooting</div>
                <div class="status orange">2.8K viewers</div>
              </div>
            </a><a class="games__item" href="#">
              <div class="games__preview"><img class="games__pic" src="img/game-2.png" /></div>
              <div class="games__details">
                <div class="games__title">The Dota 2</div>
                <div class="games__category">eSport</div>
                <div class="status orange">2.8K viewers</div>
              </div>
            </a><a class="games__item" href="#">
              <div class="games__preview"><img class="games__pic" src="img/game-3.png" /></div>
              <div class="games__details">
                <div class="games__title">League of Legends®</div>
                <div class="games__category">Online Game</div>
                <div class="status orange">2.8K viewers</div>
              </div>
            </a></div><a class="login__add" href="#"><svg class="icon icon-add-square">
              <use xlink:href="img/sprite.svg#icon-add-square"></use>
            </svg>Discover more</a>
        </div>
        <div class="login__form"><a class="login__close mobile-hide" href="index.html"><svg class="icon icon-remove">
              <use xlink:href="img/sprite.svg#icon-remove"></use>
            </svg></a>
          <div class="login__title h3">Sign in</div>
          <div class="login__line">
            <div class="login__text">New user?</div><a class="login__link" href="#">Create an account</a>
          </div>
          <div class="field">
            <div class="field__label">Usename or email</div>
            <div class="field__wrap"><input class="field__input" type="email"></div>
          </div>
          <div class="field">
            <div class="field__label">Password</div>
            <div class="field__wrap"><input class="field__input" type="password"></div>
          </div>
          <button class="login__btn btn btn_purple btn_wide">Continue</button>
          <div class="login__or">Or continue with</div><button class="login__btn btn btn_blue btn_wide">Google</button>
        </div>
      </div>
    </div>
  </div>
</div>