
      <div class="outer__inner">
        <div class="section-pt80 wallet">
          <div class="wallet__center center">
            <div class="wallet__head"><a class="wallet__back" href="index.html"> 
                <svg class="icon icon-arrow-prev">
                  <use xlink:href="#icon-arrow-prev"></use>
                </svg>
                <div class="wallet__stage h2">Login</div></a></div>
            <div class="wallet__body">
              <div class="wallet__menu">
                <div class="upload__form">
                  <div class="upload__list">
                   
                    <div class="upload__item">
                      <div class="upload__fieldset">
                        <div class="field">
                          <div class="field__label">Email</div>
                          <div class="field__wrap">
                              <input [(ngModel)]="user.email" type="text" class="field__input" placeholder="Enter your Email Address" aria-label="Number" matInput>
                          </div>
                        </div>
                        <div class="field">
                          <div class="field__label">Password</div>
                          <div class="field__wrap">
                              <input [(ngModel)]="user.password" type="password" class="field__input" placeholder="Enter your password" aria-label="Number" matInput>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="upload__foot">
                    <button (click)="login()"
                      class="button upload__button" data-effect="mfp-zoom-in">
                      <span>Login</span></button>
                  </div>
                </div>
              </div>
              <div class="wallet__wrapper">
                <div class="wallet__bg"><img srcSet="img/content/connect-bg@2x.jpg 2x" src="assets/img/content/connect-bg.jpg" alt="Connect wallet"></div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      
