<div class="header">
  <button class="header__burger"></button>
  <div class="header__item header__item_browse js-header-item">
    <div class="header__head js-header-head"><svg class="icon icon-location">
        <use xlink:href="img/sprite.svg#icon-location"></use>
      </svg>Browse<svg class="icon icon-arrow-down">
        <use xlink:href="img/sprite.svg#icon-arrow-down"></use>
      </svg></div>
    <div class="header__body"><a class="header__line" href="browse.html">
        <div class="header__icon"><svg class="icon icon-star">
            <use xlink:href="img/sprite.svg#icon-star"></use>
          </svg></div>
        <div class="header__text">Popular Categories</div>
      </a><a class="header__line" href="browse.html">
        <div class="header__icon"><svg class="icon icon-star">
            <use xlink:href="img/sprite.svg#icon-star"></use>
          </svg></div>
        <div class="header__text">Hot Streamers</div>
      </a><a class="header__line" href="browse.html">
        <div class="header__icon"><svg class="icon icon-star">
            <use xlink:href="img/sprite.svg#icon-star"></use>
          </svg></div>
        <div class="header__text">Trending Videos</div>
      </a><a class="header__line" href="sign-in.html">
        <div class="header__icon"><svg class="icon icon-star">
            <use xlink:href="img/sprite.svg#icon-star"></use>
          </svg></div>
        <div class="header__text">Sign In</div>
      </a><a class="header__line" href="sign-up.html">
        <div class="header__icon"><svg class="icon icon-star">
            <use xlink:href="img/sprite.svg#icon-star"></use>
          </svg></div>
        <div class="header__text">Sign Up</div>
      </a><a class="header__line js-popup-open" href="#popup-stories">
        <div class="header__icon"><svg class="icon icon-star">
            <use xlink:href="img/sprite.svg#icon-star"></use>
          </svg></div>
        <div class="header__text">Stories</div>
      </a></div>
  </div>
  <form class="header__search"><input class="header__input" type="text" placeholder="Search Everything" /><button class="header__btn-search"><svg class="icon icon-search">
        <use xlink:href="img/sprite.svg#icon-search"></use>
      </svg></button></form>
  <div class="header__control">
    <div class="header__item header__item_add js-header-item"><button class="header__head js-header-head"><svg class="icon icon-plus-sm">
          <use xlink:href="img/sprite.svg#icon-plus-sm"></use>
        </svg></button>
      <div class="header__body js-header-body"><a class="header__line" href="upload-videos.html">
          <div class="header__icon"><svg class="icon icon-camera">
              <use xlink:href="img/sprite.svg#icon-camera"></use>
            </svg></div>
          <div class="header__text">New Video</div>
          <div class="header__icon"><svg class="icon icon-add">
              <use xlink:href="img/sprite.svg#icon-add"></use>
            </svg></div>
        </a><a class="header__line" href="#">
          <div class="header__icon"><svg class="icon icon-star">
              <use xlink:href="img/sprite.svg#icon-star"></use>
            </svg></div>
          <div class="header__text">Go live</div>
          <div class="header__icon"><svg class="icon icon-live">
              <use xlink:href="img/sprite.svg#icon-live"></use>
            </svg></div>
        </a></div>
    </div><a class="header__item header__item_search" href="#"><svg class="icon icon-search">
        <use xlink:href="img/sprite.svg#icon-search"></use>
      </svg></a>
    <div class="header__item header__item_notifications js-header-item"><button class="header__head js-header-head"><svg class="icon icon-bell">
          <use xlink:href="img/sprite.svg#icon-bell"></use>
        </svg>
        <div class="header__counter">2</div>
      </button>
      <div class="header__body js-header-body">
        <div class="notifications">
          <div class="notifications__info h6">Recent Notification</div>
          <div class="notifications__list"><a class="notifications__item" href="#">
              <div class="notifications__ava"><img class="notifications__pic" src="img/ava-1.png" alt="" />
                <div class="notifications__status bg-blue"><img class="notifications__pic" src="img/chat.svg" alt="" /></div>
              </div>
              <div class="notifications__details">
                <div class="notifications__line">
                  <div class="notifications__user">Sarah Saunders</div>
                  <div class="notifications__time">8h</div>
                </div>
                <div class="notifications__text">Commented on <span class="notifications__project">The Results Are Beautif</span></div>
              </div>
            </a><a class="notifications__item" href="#">
              <div class="notifications__ava"><img class="notifications__pic" src="img/ava-2.png" alt="" />
                <div class="notifications__status bg-blue"><img class="notifications__pic" src="img/chat.svg" alt="" /></div>
              </div>
              <div class="notifications__details">
                <div class="notifications__line">
                  <div class="notifications__user">Glenn Greer</div>
                  <div class="notifications__time">12h</div>
                </div>
                <div class="notifications__text">Commented on <span class="notifications__project">Your Latest Video</span></div>
              </div>
            </a><a class="notifications__item" href="#">
              <div class="notifications__ava"><img class="notifications__pic" src="img/ava-3.png" alt="" />
                <div class="notifications__status bg-blue"><img class="notifications__pic" src="img/chat.svg" alt="" /></div>
              </div>
              <div class="notifications__details">
                <div class="notifications__line">
                  <div class="notifications__user">Sarah Saunders</div>
                  <div class="notifications__time">13h</div>
                </div>
                <div class="notifications__text">Commented on <span class="notifications__project">Your Latest Video</span></div>
              </div>
            </a><a class="notifications__item" href="#">
              <div class="notifications__ava"><img class="notifications__pic" src="img/ava-4.png" alt="" />
                <div class="notifications__status bg-green"><img class="notifications__pic" src="img/chat.svg" alt="" /></div>
              </div>
              <div class="notifications__details">
                <div class="notifications__line">
                  <div class="notifications__user">Sarah Saunders</div>
                  <div class="notifications__time">19h</div>
                </div>
                <div class="notifications__text">Commented on <span class="notifications__project">Your Latest Video</span></div>
              </div>
            </a><a class="notifications__item" href="#">
              <div class="notifications__ava"><img class="notifications__pic" src="img/ava-2.png" alt="" />
                <div class="notifications__status bg-purple"><img class="notifications__pic" src="img/message.svg" alt="" /></div>
              </div>
              <div class="notifications__details">
                <div class="notifications__line">
                  <div class="notifications__user">Sarah Saunders</div>
                  <div class="notifications__time">21h</div>
                </div>
                <div class="notifications__text">Sent you a message 📪 </div>
              </div>
            </a><a class="notifications__item" href="#">
              <div class="notifications__ava"><img class="notifications__pic" src="img/ava-5.png" alt="" />
                <div class="notifications__status bg-orange"><img class="notifications__pic" src="img/heart.svg" alt="" /></div>
              </div>
              <div class="notifications__details">
                <div class="notifications__line">
                  <div class="notifications__user">Glenn Greer</div>
                  <div class="notifications__time">24h</div>
                </div>
                <div class="notifications__text">Liked <span class="notifications__project">Your Latest Video</span></div>
              </div>
            </a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__item header__item_profile"><a class="header__head" href="#"><img class="header__pic" src="img/avatar.png" alt="" /></a>
    <div class="header__body"><a class="header__link" href="#">
        <div class="header__img"><svg class="icon icon-profile">
            <use xlink:href="img/sprite.svg#icon-profile"></use>
          </svg></div>Profile
      </a><a class="header__link" href="playlist.html">
        <div class="header__img"><svg class="icon icon-document">
            <use xlink:href="img/sprite.svg#icon-document"></use>
          </svg></div>My Playlist
      </a><a class="header__link" href="channel-profile.html">
        <div class="header__img"><svg class="icon icon-joystick">
            <use xlink:href="img/sprite.svg#icon-joystick"></use>
          </svg></div>My Channel
      </a><a class="header__link js-popup-open" href="#popup-settings" data-effect="mfp-zoom-in">
        <div class="header__img"><svg class="icon icon-settings">
            <use xlink:href="img/sprite.svg#icon-settings"></use>
          </svg></div>Settings
      </a><a class="header__link" href="#">
        <div class="header__img"><svg class="icon icon-logout">
            <use xlink:href="img/sprite.svg#icon-logout"></use>
          </svg></div>Log Out
      </a></div>
  </div>
</div>