<footer class="footer">
  <div class="footer__center center">
    <div class="footer__row">
      <div class="footer__col"><a class="footer__logo" href="index.html"><img class="some-icon"
            src="assets/img/logo-dark.png" alt="Crypter NFT"><img class="some-icon-dark"
            src="assets/img/logo-light.png" alt="Crypter NFT"></a>
        <div class="footer__info">The New Creative Economy.</div>
        <div class="footer__theme">
          <div class="footer__details">Dark theme</div>
          <label class="theme js-theme theme_big">
            <input class="theme__input" type="checkbox" /><span class="theme__inner"><span
                class="theme__box"></span></span>
          </label>
        </div>
      </div>
      <div class="footer__col">
        <div class="footer__group">
          <div class="footer__head">Crypter.
            <svg class="icon icon-arrow-bottom">
              <use xlink:href="#icon-arrow-bottom"></use>
            </svg>
          </div>
          <div class="footer__body">
            <div class="footer__menu"><a class="footer__link" href="search01.html">Discover</a><a class="footer__link"
                href="connect-wallet.html">Connect wallet</a></div>
          </div>
        </div>
        <div class="footer__group">
          <div class="footer__head">Info
            <svg class="icon icon-arrow-bottom">
              <use xlink:href="#icon-arrow-bottom"></use>
            </svg>
          </div>
          <div class="footer__body">
            <div class="footer__menu"><a class="footer__link" href="faq.html">FAQ</a><a class="footer__link"
                href="upload-variants.html">Create item</a></div>
          </div>
        </div>
      </div>
      <div class="footer__col">
        <div class="footer__category">Join Newsletter</div>
        <div class="footer__text">Subscribe our newsletter to get more free design course and resource</div>
        <form class="subscription">
          <input class="subscription__input" [(ngModel)]="model.email" type="email" name="email" placeholder="Enter your email"
            required="required" />
          <button class="subscription__btn" (click)="subscribeNewsletter()">
            <svg class="icon icon-arrow-next">
              <use xlink:href="#icon-arrow-next"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
    <div class="footer__foot">
      <div class="footer__copyright">Copyright © 2021 UI8 LLC. All rights reserved</div>
      <div class="footer__note">We use cookies for better service. <a href="/#">Accept</a></div>
    </div>
  </div>
</footer>