<div class="section-bg popular">
  <div class="popular__center center">
    <div class="popular__top">
      <div class="popular__box">
        <div class="popular__stage">Popular</div>
        <select class="select-empty">
          <option>Sellers</option>
          <option>Buyers</option>
        </select>
      </div>
      <div class="field">
        <div class="field__label">timeframe</div>
        <div class="field__wrap">
          <select class="select">
            <option>Today</option>
            <option>Morning</option>
            <option>Dinner</option>
            <option>Evening</option>
          </select>
        </div>
      </div>
    </div>
    <div class="popular__wrapper">
      <div class="popular__slider js-slider-popular">
        <div class="popular__slide">
          <div class="popular__item">
            <div class="popular__head">
              <div class="popular__rating" style="background-color:#3772FF;">
                <div class="popular__icon"><img src="assets/img/content/cup.svg" alt="Rating"></div>
                <div class="popular__number">#1
                </div>
              </div>
              <div class="popular__control">
                <button class="popular__button popular__add">
                  <svg class="icon icon-add-square">
                    <use xlink:href="#icon-add-square"></use>
                  </svg>
                  <svg class="icon icon-minus-square">
                    <use xlink:href="#icon-minus-square"></use>
                  </svg>
                </button><a class="popular__button" href="profile.html">
                  <svg class="icon icon-arrow-expand">
                    <use xlink:href="#icon-arrow-expand"></use>
                  </svg></a>
              </div>
            </div>
            <div class="popular__body">
              <div class="popular__avatar">
                <div class="popular__preview"><img src="assets/img/content/avatar-5.jpg" alt="Avatar"></div>
                <div class="popular__reward"><img src="assets/img/content/reward-1.svg" alt="Reward"></div>
              </div>
              <div class="popular__name">Edd Harris</div>
              <div class="popular__price"><span>2.456</span> ETH</div>
            </div>
          </div>
        </div>
        <div class="popular__slide">
          <div class="popular__item">
            <div class="popular__head">
              <div class="popular__rating" style="background-color:#9757D7;">
                <div class="popular__icon"><img src="assets/img/content/donut.svg" alt="Rating"></div>
                <div class="popular__number">#2
                </div>
              </div>
              <div class="popular__control">
                <button class="popular__button popular__add">
                  <svg class="icon icon-add-square">
                    <use xlink:href="#icon-add-square"></use>
                  </svg>
                  <svg class="icon icon-minus-square">
                    <use xlink:href="#icon-minus-square"></use>
                  </svg>
                </button><a class="popular__button" href="profile.html">
                  <svg class="icon icon-arrow-expand">
                    <use xlink:href="#icon-arrow-expand"></use>
                  </svg></a>
              </div>
            </div>
            <div class="popular__body">
              <div class="popular__avatar">
                <div class="popular__preview"><img src="assets/img/content/avatar-6.jpg" alt="Avatar"></div>
                <div class="popular__reward"><img src="assets/img/content/reward-1.svg" alt="Reward"></div>
              </div>
              <div class="popular__name">Odell Hane</div>
              <div class="popular__price"><span>2.456</span> ETH</div>
            </div>
          </div>
        </div>
        <div class="popular__slide">
          <div class="popular__item">
            <div class="popular__head">
              <div class="popular__rating" style="background-color:#45B26B;">
                <div class="popular__icon"><img src="assets/img/content/lightning.svg" alt="Rating"></div>
                <div class="popular__number">#3
                </div>
              </div>
              <div class="popular__control">
                <button class="popular__button popular__add">
                  <svg class="icon icon-add-square">
                    <use xlink:href="#icon-add-square"></use>
                  </svg>
                  <svg class="icon icon-minus-square">
                    <use xlink:href="#icon-minus-square"></use>
                  </svg>
                </button><a class="popular__button" href="profile.html">
                  <svg class="icon icon-arrow-expand">
                    <use xlink:href="#icon-arrow-expand"></use>
                  </svg></a>
              </div>
            </div>
            <div class="popular__body">
              <div class="popular__avatar">
                <div class="popular__preview"><img src="assets/img/content/avatar-7.jpg" alt="Avatar"></div>
                <div class="popular__reward"><img src="assets/img/content/reward-1.svg" alt="Reward"></div>
              </div>
              <div class="popular__name">Marlee Kuphal</div>
              <div class="popular__price"><span>2.456</span> ETH</div>
            </div>
          </div>
        </div>
        <div class="popular__slide">
          <div class="popular__item">
            <div class="popular__head">
              <div class="popular__rating" style="background-color:#23262F;">
                <div class="popular__icon"><img src="assets/img/content/donut.svg" alt="Rating"></div>
                <div class="popular__number">#4
                </div>
              </div>
              <div class="popular__control">
                <button class="popular__button popular__add">
                  <svg class="icon icon-add-square">
                    <use xlink:href="#icon-add-square"></use>
                  </svg>
                  <svg class="icon icon-minus-square">
                    <use xlink:href="#icon-minus-square"></use>
                  </svg>
                </button><a class="popular__button" href="profile.html">
                  <svg class="icon icon-arrow-expand">
                    <use xlink:href="#icon-arrow-expand"></use>
                  </svg></a>
              </div>
            </div>
            <div class="popular__body">
              <div class="popular__avatar">
                <div class="popular__preview"><img src="assets/img/content/avatar-8.jpg" alt="Avatar"></div>
                <div class="popular__reward"><img src="assets/img/content/reward-1.svg" alt="Reward"></div>
              </div>
              <div class="popular__name">Payton Kunde</div>
              <div class="popular__price"><span>2.456</span> ETH</div>
            </div>
          </div>
        </div>
        <div class="popular__slide">
          <div class="popular__item">
            <div class="popular__head">
              <div class="popular__rating" style="background-color:#777E90;">
                <div class="popular__icon"><img src="assets/img/content/donut.svg" alt="Rating"></div>
                <div class="popular__number">#5
                </div>
              </div>
              <div class="popular__control">
                <button class="popular__button popular__add">
                  <svg class="icon icon-add-square">
                    <use xlink:href="#icon-add-square"></use>
                  </svg>
                  <svg class="icon icon-minus-square">
                    <use xlink:href="#icon-minus-square"></use>
                  </svg>
                </button><a class="popular__button" href="profile.html">
                  <svg class="icon icon-arrow-expand">
                    <use xlink:href="#icon-arrow-expand"></use>
                  </svg></a>
              </div>
            </div>
            <div class="popular__body">
              <div class="popular__avatar">
                <div class="popular__preview"><img src="assets/img/content/avatar-9.jpg" alt="Avatar"></div>
                <div class="popular__reward"><img src="assets/img/content/reward-1.svg" alt="Reward"></div>
              </div>
              <div class="popular__name">Payton Buckridge</div>
              <div class="popular__price"><span>2.456</span> ETH</div>
            </div>
          </div>
        </div>
        <div class="popular__slide">
          <div class="popular__item">
            <div class="popular__head">
              <div class="popular__rating" style="background-color:#3772FF;">
                <div class="popular__icon"><img src="assets/img/content/cup.svg" alt="Rating"></div>
                <div class="popular__number">#1
                </div>
              </div>
              <div class="popular__control">
                <button class="popular__button popular__add">
                  <svg class="icon icon-add-square">
                    <use xlink:href="#icon-add-square"></use>
                  </svg>
                  <svg class="icon icon-minus-square">
                    <use xlink:href="#icon-minus-square"></use>
                  </svg>
                </button><a class="popular__button" href="profile.html">
                  <svg class="icon icon-arrow-expand">
                    <use xlink:href="#icon-arrow-expand"></use>
                  </svg></a>
              </div>
            </div>
            <div class="popular__body">
              <div class="popular__avatar">
                <div class="popular__preview"><img src="assets/img/content/avatar-5.jpg" alt="Avatar"></div>
                <div class="popular__reward"><img src="assets/img/content/reward-1.svg" alt="Reward"></div>
              </div>
              <div class="popular__name">Edd Harris</div>
              <div class="popular__price"><span>2.456</span> ETH</div>
            </div>
          </div>
        </div>
        <div class="popular__slide">
          <div class="popular__item">
            <div class="popular__head">
              <div class="popular__rating" style="background-color:#9757D7;">
                <div class="popular__icon"><img src="assets/img/content/donut.svg" alt="Rating"></div>
                <div class="popular__number">#2
                </div>
              </div>
              <div class="popular__control">
                <button class="popular__button popular__add">
                  <svg class="icon icon-add-square">
                    <use xlink:href="#icon-add-square"></use>
                  </svg>
                  <svg class="icon icon-minus-square">
                    <use xlink:href="#icon-minus-square"></use>
                  </svg>
                </button><a class="popular__button" href="profile.html">
                  <svg class="icon icon-arrow-expand">
                    <use xlink:href="#icon-arrow-expand"></use>
                  </svg></a>
              </div>
            </div>
            <div class="popular__body">
              <div class="popular__avatar">
                <div class="popular__preview"><img src="assets/img/content/avatar-6.jpg" alt="Avatar"></div>
                <div class="popular__reward"><img src="assets/img/content/reward-1.svg" alt="Reward"></div>
              </div>
              <div class="popular__name">Odell Hane</div>
              <div class="popular__price"><span>2.456</span> ETH</div>
            </div>
          </div>
        </div>
        <div class="popular__slide">
          <div class="popular__item">
            <div class="popular__head">
              <div class="popular__rating" style="background-color:#45B26B;">
                <div class="popular__icon"><img src="assets/img/content/lightning.svg" alt="Rating"></div>
                <div class="popular__number">#3
                </div>
              </div>
              <div class="popular__control">
                <button class="popular__button popular__add">
                  <svg class="icon icon-add-square">
                    <use xlink:href="#icon-add-square"></use>
                  </svg>
                  <svg class="icon icon-minus-square">
                    <use xlink:href="#icon-minus-square"></use>
                  </svg>
                </button><a class="popular__button" href="profile.html">
                  <svg class="icon icon-arrow-expand">
                    <use xlink:href="#icon-arrow-expand"></use>
                  </svg></a>
              </div>
            </div>
            <div class="popular__body">
              <div class="popular__avatar">
                <div class="popular__preview"><img src="assets/img/content/avatar-7.jpg" alt="Avatar"></div>
                <div class="popular__reward"><img src="assets/img/content/reward-1.svg" alt="Reward"></div>
              </div>
              <div class="popular__name">Marlee Kuphal</div>
              <div class="popular__price"><span>2.456</span> ETH</div>
            </div>
          </div>
        </div>
        <div class="popular__slide">
          <div class="popular__item">
            <div class="popular__head">
              <div class="popular__rating" style="background-color:#23262F;">
                <div class="popular__icon"><img src="assets/img/content/donut.svg" alt="Rating"></div>
                <div class="popular__number">#4
                </div>
              </div>
              <div class="popular__control">
                <button class="popular__button popular__add">
                  <svg class="icon icon-add-square">
                    <use xlink:href="#icon-add-square"></use>
                  </svg>
                  <svg class="icon icon-minus-square">
                    <use xlink:href="#icon-minus-square"></use>
                  </svg>
                </button><a class="popular__button" href="profile.html">
                  <svg class="icon icon-arrow-expand">
                    <use xlink:href="#icon-arrow-expand"></use>
                  </svg></a>
              </div>
            </div>
            <div class="popular__body">
              <div class="popular__avatar">
                <div class="popular__preview"><img src="assets/img/content/avatar-8.jpg" alt="Avatar"></div>
                <div class="popular__reward"><img src="assets/img/content/reward-1.svg" alt="Reward"></div>
              </div>
              <div class="popular__name">Payton Kunde</div>
              <div class="popular__price"><span>2.456</span> ETH</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>