<main class="p-10">
	<div class="flex flex-wrap">
		<div class="w-4/12 h-4/6 rounded-lg overflow-hidden object-cover">
			<img class="w-full h-full object-cover"
				src='https://images.unsplash.com/photo-1515955656352-a1fa3ffcd111?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'
				alt='nike shoes'>
		</div>
		<div class="w-8/12 p-3">
			<h1 class="capitalize text-4xl font-extrabold">{{item.name}}</h1>
			<p class="text-lg pt-8 text-gray-500	">{{item.description}}</p>
		</div>
	</div>
</main>
<div class="flex flex-wrap">
	<!-- Stats -->
	<div class="mb-12 w-4/12 p-10 flex" *ngIf="item.statistics != null">
		<app-wikipedia-stats-item [statistics]="item.statistics" class="w-full ml-5"></app-wikipedia-stats-item>
	</div>
	<!-- Effects -->
	<div class="mb-12 w-4/12 p-10 flex" *ngIf="item.chars != null">
		<app-wikipedia-effects-item [effects]="item.chars" class="w-full ml-5"></app-wikipedia-effects-item>
	</div>
	<!-- Conditions -->
	<div class="mb-12 w-4/12 p-10 flex" *ngIf="item.conditions != null">
		<app-wikipedia-stats-item [conditions]="item.conditions" class="w-full ml-5"></app-wikipedia-stats-item>
	</div>
	<!-- Recipe -->
	<div class="mb-12 w-4/12 p-10 flex" *ngIf="item.recipes != null">
		<app-wikipedia-recipe-item [recipes]="item.recipes" class="w-full ml-5"></app-wikipedia-recipe-item>
	</div>
</div>