<main class="p-10">
	<div class="flex flex-wrap">
		<div class="w-4/12 h-4/6 rounded-lg overflow-hidden object-cover">
			<img class="w-full h-full object-cover"
				src='https://images.unsplash.com/photo-1515955656352-a1fa3ffcd111?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'
				alt='nike shoes'>
		</div>
		<div class="w-8/12 p-3">
			<h1 class="capitalize text-4xl font-extrabold">Description</h1>
			<p class="text-lg text-gray-500	">{{item.description}} .</p>
			<div class="flex items-center gap-4 my-6 cursor-pointer ">
				<div class="bg-blue-600 px-5 py-3 text-white rounded-lg w-2/4 text-center">Add to bag</div>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-400" viewBox="0 0 20 20"
					fill="currentColor">
					<path fill-rule="evenodd"
						d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
						clip-rule="evenodd" />
				</svg>
			</div>
		</div>
	</div>
</main>
<div class="flex flex-wrap">
	<!-- Stats -->
	<div class="mb-12 w-4/12 p-10 flex" *ngIf="item.statistics != null">
		<app-wikipedia-stats-item [statistics]="item.statistics" class="w-full ml-5"></app-wikipedia-stats-item>
	</div>
	<!-- Effects -->
	<div class="mb-12 w-4/12 p-10 flex" *ngIf="item.effects != null">
		<app-wikipedia-stats-item [effects]="item.effects" class="w-full ml-5"></app-wikipedia-stats-item>
	</div>
	<!-- Conditions -->
	<div class="mb-12 w-4/12 p-10 flex" *ngIf="item.conditions != null">
		<app-wikipedia-stats-item [conditions]="item.conditions" class="w-full ml-5"></app-wikipedia-stats-item>
	</div>
	<!-- Recipe -->
	<div class="mb-12 w-4/12 p-10 flex" *ngIf="item.recipes != null">
		<app-wikipedia-recipe-item [recipes]="item.recipes" class="w-full ml-5"></app-wikipedia-recipe-item>
	</div>
</div>