<!-- <div class="player__head">
  <div class="player__box">
    <div class="player__ava">
      <img class="player__photo" src="img/player-ava-1.png" alt=""></div>
    <div class="player__desc">
      <div class="player__stat">
        <div class="player__stage h5" routerLink="{{subtitleLink}}">{{subtitle}} </div>
        
      </div>
      <div class="player__title h2">{{title}} </div>
      <div class="player__note">
        {{description}}
      </div>
    </div>
  </div>
  
</div> -->

<div class="px-16 py-8">
  <div class="flex flex-col">
    
    <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-4">
      <div class="sm:w-2/5 sm:mb-0">
        <a routerLink="{{subtitleLink}}">
          <h2 class="text-gray-900 font-medium title-font text-2xl mb-2">
            {{subtitle}}
          </h2>
        </a>
        <h1 class="text-gray-900 font-bold title-font text-4xl mb-2">
          {{title}}
        </h1>
      </div>
      
      <p class="sm:w-3/5 leading-relaxed flex items-end text-base text-gray-400 sm:pl-10 pl-0">
        {{description}}
      </p>
    </div>
    <div class="h-1 bg-gray-200 rounded overflow-hidden">
      <div class="w-24 h-full bg-indigo-500"></div>
    </div>
  </div>
</div>