<div class="section hot">
  <div class="hot__center center">
    <div class="hot__wrapper">
      <h3 class="hot__title h3">Hot bid</h3>
      <div class="hot__inner">
        <div class="hot__slider js-slider-hot">
          <div class="hot__slide">
            <div class="card">
              <div class="card__preview"><img srcSet="assets/img/content/card-pic-1@2x.jpg 2x"
                  src="assets/img/content/card-pic-1.jpg" alt="Card preview" />
                <div class="card__control">
                  <div class="status-green card__category">purchasing !</div>
                  <button class="card__favorite">
                    <svg class="icon icon-heart">
                      <use xlink:href="#icon-heart"></use>
                    </svg>
                  </button><a class="button-small card__button js-popup-open" href="#popup-bid"
                    data-effect="mfp-zoom-in"><span>Place a bid</span>
                    <svg class="icon icon-scatter-up">
                      <use xlink:href="#icon-scatter-up"></use>
                    </svg></a>
                </div>
              </div><a class="card__link" href="item.html">
                <div class="card__body">
                  <div class="card__line">
                    <div class="card__title">Amazing digital art</div>
                    <div class="card__price">2.45 ETH</div>
                  </div>
                  <div class="card__line">
                    <div class="card__users">
                      <div class="card__avatar"><img src="assets/img/content/avatar-1.jpg" alt="Avatar" /></div>
                      <div class="card__avatar"><img src="assets/img/content/avatar-3.jpg" alt="Avatar" /></div>
                      <div class="card__avatar"><img src="assets/img/content/avatar-4.jpg" alt="Avatar" /></div>
                    </div>
                    <div class="card__counter">3 in stock</div>
                  </div>
                </div>
                <div class="card__foot">
                  <div class="card__status">
                    <svg class="icon icon-candlesticks-up">
                      <use xlink:href="#icon-candlesticks-up"></use>
                    </svg>Highest bid <span>0.001 ETH</span>
                  </div>
                  <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
                </div>
              </a>
            </div>
          </div>
          <div class="hot__slide">
            <div class="card">
              <div class="card__preview"><img srcSet="assets/img/content/card-pic-2@2x.jpg 2x"
                  src="assets/img/content/card-pic-2.jpg" alt="Card preview" />
                <div class="card__control">
                  <div class="status-green card__category">purchasing !</div>
                  <button class="card__favorite">
                    <svg class="icon icon-heart">
                      <use xlink:href="#icon-heart"></use>
                    </svg>
                  </button><a class="button-small card__button js-popup-open" href="#popup-bid"
                    data-effect="mfp-zoom-in"><span>Place a bid</span>
                    <svg class="icon icon-scatter-up">
                      <use xlink:href="#icon-scatter-up"></use>
                    </svg></a>
                </div>
              </div><a class="card__link" href="item.html">
                <div class="card__body">
                  <div class="card__line">
                    <div class="card__title">Ribbon Hunter</div>
                    <div class="card__price">2.45 ETH</div>
                  </div>
                  <div class="card__line">
                    <div class="card__users">
                      <div class="card__avatar"><img src="assets/img/content/avatar-1.jpg" alt="Avatar" /></div>
                      <div class="card__avatar"><img src="assets/img/content/avatar-3.jpg" alt="Avatar" /></div>
                      <div class="card__avatar"><img src="assets/img/content/avatar-4.jpg" alt="Avatar" /></div>
                    </div>
                    <div class="card__counter">3 in stock</div>
                  </div>
                </div>
                <div class="card__foot">
                  <div class="card__status">
                    <svg class="icon icon-candlesticks-up">
                      <use xlink:href="#icon-candlesticks-up"></use>
                    </svg>Highest bid <span>0.001 ETH</span>
                  </div>
                  <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
                </div>
              </a>
            </div>
          </div>
          <div class="hot__slide">
            <div class="card">
              <div class="card__preview"><img srcSet="assets/img/content/card-pic-3@2x.jpg 2x"
                  src="assets/img/content/card-pic-3.jpg" alt="Card preview" />
                <div class="card__control">
                  <div class="status-green card__category">purchasing !</div>
                  <button class="card__favorite">
                    <svg class="icon icon-heart">
                      <use xlink:href="#icon-heart"></use>
                    </svg>
                  </button><a class="button-small card__button js-popup-open" href="#popup-bid"
                    data-effect="mfp-zoom-in"><span>Place a bid</span>
                    <svg class="icon icon-scatter-up">
                      <use xlink:href="#icon-scatter-up"></use>
                    </svg></a>
                </div>
              </div><a class="card__link" href="item.html">
                <div class="card__body">
                  <div class="card__line">
                    <div class="card__title">Amazing digital art</div>
                    <div class="card__price">2.45 ETH</div>
                  </div>
                  <div class="card__line">
                    <div class="card__users">
                      <div class="card__avatar"><img src="assets/img/content/avatar-1.jpg" alt="Avatar" /></div>
                      <div class="card__avatar"><img src="assets/img/content/avatar-3.jpg" alt="Avatar" /></div>
                      <div class="card__avatar"><img src="assets/img/content/avatar-4.jpg" alt="Avatar" /></div>
                    </div>
                    <div class="card__counter">3 in stock</div>
                  </div>
                </div>
                <div class="card__foot">
                  <div class="card__status">
                    <svg class="icon icon-candlesticks-up">
                      <use xlink:href="#icon-candlesticks-up"></use>
                    </svg>Highest bid <span>0.001 ETH</span>
                  </div>
                  <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
                </div>
              </a>
            </div>
          </div>
          <div class="hot__slide">
            <div class="card">
              <div class="card__preview"><img srcSet="assets/img/content/card-pic-4@2x.jpg 2x"
                  src="assets/img/content/card-pic-4.jpg" alt="Card preview" />
                <div class="card__control">
                  <div class="status-green card__category">purchasing !</div>
                  <button class="card__favorite">
                    <svg class="icon icon-heart">
                      <use xlink:href="#icon-heart"></use>
                    </svg>
                  </button><a class="button-small card__button js-popup-open" href="#popup-bid"
                    data-effect="mfp-zoom-in"><span>Place a bid</span>
                    <svg class="icon icon-scatter-up">
                      <use xlink:href="#icon-scatter-up"></use>
                    </svg></a>
                </div>
              </div><a class="card__link" href="item.html">
                <div class="card__body">
                  <div class="card__line">
                    <div class="card__title">Ribbon Hunter</div>
                    <div class="card__price">2.45 ETH</div>
                  </div>
                  <div class="card__line">
                    <div class="card__users">
                      <div class="card__avatar"><img src="assets/img/content/avatar-1.jpg" alt="Avatar" /></div>
                      <div class="card__avatar"><img src="assets/img/content/avatar-3.jpg" alt="Avatar" /></div>
                      <div class="card__avatar"><img src="assets/img/content/avatar-4.jpg" alt="Avatar" /></div>
                    </div>
                    <div class="card__counter">3 in stock</div>
                  </div>
                </div>
                <div class="card__foot">
                  <div class="card__status">
                    <svg class="icon icon-candlesticks-up">
                      <use xlink:href="#icon-candlesticks-up"></use>
                    </svg>Highest bid <span>0.001 ETH</span>
                  </div>
                  <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
                </div>
              </a>
            </div>
          </div>
          <div class="hot__slide">
            <div class="card">
              <div class="card__preview"><img srcSet="assets/img/content/card-pic-5@2x.jpg 2x"
                  src="assets/img/content/card-pic-5.jpg" alt="Card preview" />
                <div class="card__control">
                  <div class="status-green card__category">purchasing !</div>
                  <button class="card__favorite">
                    <svg class="icon icon-heart">
                      <use xlink:href="#icon-heart"></use>
                    </svg>
                  </button><a class="button-small card__button js-popup-open" href="#popup-bid"
                    data-effect="mfp-zoom-in"><span>Place a bid</span>
                    <svg class="icon icon-scatter-up">
                      <use xlink:href="#icon-scatter-up"></use>
                    </svg></a>
                </div>
              </div><a class="card__link" href="item.html">
                <div class="card__body">
                  <div class="card__line">
                    <div class="card__title">Amazing digital art</div>
                    <div class="card__price">2.45 ETH</div>
                  </div>
                  <div class="card__line">
                    <div class="card__users">
                      <div class="card__avatar"><img src="assets/img/content/avatar-1.jpg" alt="Avatar" /></div>
                      <div class="card__avatar"><img src="assets/img/content/avatar-3.jpg" alt="Avatar" /></div>
                      <div class="card__avatar"><img src="assets/img/content/avatar-4.jpg" alt="Avatar" /></div>
                    </div>
                    <div class="card__counter">3 in stock</div>
                  </div>
                </div>
                <div class="card__foot">
                  <div class="card__status">
                    <svg class="icon icon-candlesticks-up">
                      <use xlink:href="#icon-candlesticks-up"></use>
                    </svg>Highest bid <span>0.001 ETH</span>
                  </div>
                  <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
                </div>
              </a>
            </div>
          </div>
          <div class="hot__slide">
            <div class="card">
              <div class="card__preview"><img srcSet="assets/img/content/card-pic-6@2x.jpg 2x"
                  src="assets/img/content/card-pic-6.jpg" alt="Card preview" />
                <div class="card__control">
                  <div class="status-green card__category">purchasing !</div>
                  <button class="card__favorite">
                    <svg class="icon icon-heart">
                      <use xlink:href="#icon-heart"></use>
                    </svg>
                  </button><a class="button-small card__button js-popup-open" href="#popup-bid"
                    data-effect="mfp-zoom-in"><span>Place a bid</span>
                    <svg class="icon icon-scatter-up">
                      <use xlink:href="#icon-scatter-up"></use>
                    </svg></a>
                </div>
              </div><a class="card__link" href="item.html">
                <div class="card__body">
                  <div class="card__line">
                    <div class="card__title">Ribbon Hunter</div>
                    <div class="card__price">2.45 ETH</div>
                  </div>
                  <div class="card__line">
                    <div class="card__users">
                      <div class="card__avatar"><img src="assets/img/content/avatar-1.jpg" alt="Avatar" /></div>
                      <div class="card__avatar"><img src="assets/img/content/avatar-3.jpg" alt="Avatar" /></div>
                      <div class="card__avatar"><img src="assets/img/content/avatar-4.jpg" alt="Avatar" /></div>
                    </div>
                    <div class="card__counter">3 in stock</div>
                  </div>
                </div>
                <div class="card__foot">
                  <div class="card__status">
                    <svg class="icon icon-candlesticks-up">
                      <use xlink:href="#icon-candlesticks-up"></use>
                    </svg>Highest bid <span>0.001 ETH</span>
                  </div>
                  <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
                </div>
              </a>
            </div>
          </div>
          <div class="hot__slide">
            <div class="card">
              <div class="card__preview"><img srcSet="assets/img/content/card-pic-7@2x.jpg 2x"
                  src="assets/img/content/card-pic-7.jpg" alt="Card preview" />
                <div class="card__control">
                  <div class="status-green card__category">purchasing !</div>
                  <button class="card__favorite">
                    <svg class="icon icon-heart">
                      <use xlink:href="#icon-heart"></use>
                    </svg>
                  </button><a class="button-small card__button js-popup-open" href="#popup-bid"
                    data-effect="mfp-zoom-in"><span>Place a bid</span>
                    <svg class="icon icon-scatter-up">
                      <use xlink:href="#icon-scatter-up"></use>
                    </svg></a>
                </div>
              </div><a class="card__link" href="item.html">
                <div class="card__body">
                  <div class="card__line">
                    <div class="card__title">Amazing digital art</div>
                    <div class="card__price">2.45 ETH</div>
                  </div>
                  <div class="card__line">
                    <div class="card__users">
                      <div class="card__avatar"><img src="assets/img/content/avatar-1.jpg" alt="Avatar" /></div>
                      <div class="card__avatar"><img src="assets/img/content/avatar-3.jpg" alt="Avatar" /></div>
                      <div class="card__avatar"><img src="assets/img/content/avatar-4.jpg" alt="Avatar" /></div>
                    </div>
                    <div class="card__counter">3 in stock</div>
                  </div>
                </div>
                <div class="card__foot">
                  <div class="card__status">
                    <svg class="icon icon-candlesticks-up">
                      <use xlink:href="#icon-candlesticks-up"></use>
                    </svg>Highest bid <span>0.001 ETH</span>
                  </div>
                  <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>