<!-- component -->
<div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-50 text-gray-800">
    <div class="fixed flex flex-col top-0 left-0 w-64 bg-white h-full border-r">

        <!-- component -->
        <div class="min-h-screen flex justify-center bg-gray-100">
            <div class="flex w-full max-w-xs p-4 bg-white">
                <ul class="flex flex-col w-full overflow-y-scroll scrollbar-none">
                    <!-- Group -->
                    <app-sidebar-group [name]="'In Game'" ></app-sidebar-group>
                    <!-- Group Links -->
                    <app-sidebar-item [name]="'Wikipedia'" [link]="'/wikipedia'"></app-sidebar-item>
                    <app-sidebar-item [name]="'Market'" [link]="'/market'"></app-sidebar-item>
                    
                </ul>
            </div>
        </div>
    </div>
    <ng-content></ng-content>
</div>