<div class="section discover">
  <div class="discover__center center">
    <h3 class="discover__title h3">Discover</h3>
    <div class="discover__top">
      <select class="select">
        <option>Recently added</option>
        <option>Long added</option>
      </select>
      <div class="discover__nav"><a class="discover__link active" href="#">All items</a><a class="discover__link"
          href="#">Art</a><a class="discover__link" href="#">Game</a><a class="discover__link"
          href="#">Photography</a><a class="discover__link" href="#">Music</a><a class="discover__link"
          href="#">Video</a></div>
      <div class="tablet-show">
        <select class="select">
          <option>All items</option>
          <option>Art</option>
          <option>Game</option>
          <option>Photography</option>
          <option>Music</option>
          <option>Video</option>
        </select>
      </div>
      <button class="discover__filter">
        <div class="discover__text">Filter</div>
        <div class="discover__icon">
          <svg class="icon icon-filter">
            <use xlink:href="#icon-filter"></use>
          </svg>
          <svg class="icon icon-close">
            <use xlink:href="#icon-close"></use>
          </svg>
        </div>
      </button>
    </div>
    <div class="discover__filters">
      <div class="discover__sorting">
        <div class="discover__cell">
          <div class="field">
            <div class="field__label">Price</div>
            <div class="field__wrap">
              <select class="select">
                <option>Highest price</option>
                <option>The lowest price</option>
              </select>
            </div>
          </div>
        </div>
        <div class="discover__cell">
          <div class="field">
            <div class="field__label">likes</div>
            <div class="field__wrap">
              <select class="select">
                <option>Most liked</option>
                <option>Least liked</option>
              </select>
            </div>
          </div>
        </div>
        <div class="discover__cell">
          <div class="field">
            <div class="field__label">creator</div>
            <div class="field__wrap">
              <select class="select">
                <option>Verified only</option>
                <option>All</option>
                <option>Most liked</option>
              </select>
            </div>
          </div>
        </div>
        <div class="discover__cell">
          <div class="range">
            <div class="range__label">Price range</div>
            <div class="range__slider js-slider" data-min="0.01" data-max="10" data-start="5" data-step="0.1"
              data-tooltips="true" data-postfix=" ETH"></div>
            <div class="range__indicators">
              <div class="range__text">0.01 ETH</div>
              <div class="range__text">10 ETH</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="discover__list">
      <div class="discover__slider js-slider-discover js-slider-resize">
        <div class="card">
          <div class="card__preview"><img srcSet="assets/img/content/card-pic-1@2x.jpg 2x"
              src="assets/img/content/card-pic-1.jpg" alt="Card preview" />
            <div class="card__control">
              <div class="status-green card__category">purchasing !</div>
              <button class="card__favorite">
                <svg class="icon icon-heart">
                  <use xlink:href="#icon-heart"></use>
                </svg>
              </button><a class="button-small card__button js-popup-open" href="#popup-bid"
                data-effect="mfp-zoom-in"><span>Place a bid</span>
                <svg class="icon icon-scatter-up">
                  <use xlink:href="#icon-scatter-up"></use>
                </svg></a>
            </div>
          </div><a class="card__link" href="item.html">
            <div class="card__body">
              <div class="card__line">
                <div class="card__title">Amazing digital art</div>
                <div class="card__price">2.45 ETH</div>
              </div>
              <div class="card__line">
                <div class="card__users">
                  <div class="card__avatar"><img src="assets/img/content/avatar-1.jpg" alt="Avatar" /></div>
                  <div class="card__avatar"><img src="assets/img/content/avatar-3.jpg" alt="Avatar" /></div>
                  <div class="card__avatar"><img src="assets/img/content/avatar-4.jpg" alt="Avatar" /></div>
                </div>
                <div class="card__counter">3 in stock</div>
              </div>
            </div>
            <div class="card__foot">
              <div class="card__status">
                <svg class="icon icon-candlesticks-up">
                  <use xlink:href="#icon-candlesticks-up"></use>
                </svg>Highest bid <span>0.001 ETH</span>
              </div>
              <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
            </div>
          </a>
        </div>
        <div class="card">
          <div class="card__preview"><img srcSet="assets/img/content/card-pic-2@2x.jpg 2x"
              src="assets/img/content/card-pic-2.jpg" alt="Card preview" />
            <div class="card__control">
              <div class="status-green card__category">purchasing !</div>
              <button class="card__favorite">
                <svg class="icon icon-heart">
                  <use xlink:href="#icon-heart"></use>
                </svg>
              </button><a class="button-small card__button js-popup-open" href="#popup-bid"
                data-effect="mfp-zoom-in"><span>Place a bid</span>
                <svg class="icon icon-scatter-up">
                  <use xlink:href="#icon-scatter-up"></use>
                </svg></a>
            </div>
          </div><a class="card__link" href="item.html">
            <div class="card__body">
              <div class="card__line">
                <div class="card__title">Ribbon Hunter</div>
                <div class="card__price">2.45 ETH</div>
              </div>
              <div class="card__line">
                <div class="card__users">
                  <div class="card__avatar"><img src="assets/img/content/avatar-1.jpg" alt="Avatar" /></div>
                  <div class="card__avatar"><img src="assets/img/content/avatar-3.jpg" alt="Avatar" /></div>
                  <div class="card__avatar"><img src="assets/img/content/avatar-4.jpg" alt="Avatar" /></div>
                </div>
                <div class="card__counter">3 in stock</div>
              </div>
            </div>
            <div class="card__foot">
              <div class="card__status">
                <svg class="icon icon-candlesticks-up">
                  <use xlink:href="#icon-candlesticks-up"></use>
                </svg>Highest bid <span>0.001 ETH</span>
              </div>
              <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
            </div>
          </a>
        </div>
        <div class="card">
          <div class="card__preview"><img srcSet="assets/img/content/card-pic-3@2x.jpg 2x"
              src="assets/img/content/card-pic-3.jpg" alt="Card preview" />
            <div class="card__control">
              <div class="status-green card__category">purchasing !</div>
              <button class="card__favorite">
                <svg class="icon icon-heart">
                  <use xlink:href="#icon-heart"></use>
                </svg>
              </button><a class="button-small card__button js-popup-open" href="#popup-bid"
                data-effect="mfp-zoom-in"><span>Place a bid</span>
                <svg class="icon icon-scatter-up">
                  <use xlink:href="#icon-scatter-up"></use>
                </svg></a>
            </div>
          </div><a class="card__link" href="item.html">
            <div class="card__body">
              <div class="card__line">
                <div class="card__title">Amazing digital art</div>
                <div class="card__price">2.45 ETH</div>
              </div>
              <div class="card__line">
                <div class="card__users">
                  <div class="card__avatar"><img src="assets/img/content/avatar-1.jpg" alt="Avatar" /></div>
                  <div class="card__avatar"><img src="assets/img/content/avatar-3.jpg" alt="Avatar" /></div>
                  <div class="card__avatar"><img src="assets/img/content/avatar-4.jpg" alt="Avatar" /></div>
                </div>
                <div class="card__counter">3 in stock</div>
              </div>
            </div>
            <div class="card__foot">
              <div class="card__status">
                <svg class="icon icon-candlesticks-up">
                  <use xlink:href="#icon-candlesticks-up"></use>
                </svg>Highest bid <span>0.001 ETH</span>
              </div>
              <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
            </div>
          </a>
        </div>
        <div class="card">
          <div class="card__preview"><img srcSet="assets/img/content/card-pic-4@2x.jpg 2x"
              src="assets/img/content/card-pic-4.jpg" alt="Card preview" />
            <div class="card__control">
              <div class="status-green card__category">purchasing !</div>
              <button class="card__favorite">
                <svg class="icon icon-heart">
                  <use xlink:href="#icon-heart"></use>
                </svg>
              </button><a class="button-small card__button js-popup-open" href="#popup-bid"
                data-effect="mfp-zoom-in"><span>Place a bid</span>
                <svg class="icon icon-scatter-up">
                  <use xlink:href="#icon-scatter-up"></use>
                </svg></a>
            </div>
          </div><a class="card__link" href="item.html">
            <div class="card__body">
              <div class="card__line">
                <div class="card__title">Ribbon Hunter</div>
                <div class="card__price">2.45 ETH</div>
              </div>
              <div class="card__line">
                <div class="card__users">
                  <div class="card__avatar"><img src="assets/img/content/avatar-1.jpg" alt="Avatar" /></div>
                  <div class="card__avatar"><img src="assets/img/content/avatar-3.jpg" alt="Avatar" /></div>
                  <div class="card__avatar"><img src="assets/img/content/avatar-4.jpg" alt="Avatar" /></div>
                </div>
                <div class="card__counter">3 in stock</div>
              </div>
            </div>
            <div class="card__foot">
              <div class="card__status">
                <svg class="icon icon-candlesticks-up">
                  <use xlink:href="#icon-candlesticks-up"></use>
                </svg>Highest bid <span>0.001 ETH</span>
              </div>
              <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
            </div>
          </a>
        </div>
        <div class="card">
          <div class="card__preview"><img srcSet="assets/img/content/card-pic-5@2x.jpg 2x"
              src="assets/img/content/card-pic-5.jpg" alt="Card preview" />
            <div class="card__control">
              <div class="status-green card__category">purchasing !</div>
              <button class="card__favorite">
                <svg class="icon icon-heart">
                  <use xlink:href="#icon-heart"></use>
                </svg>
              </button><a class="button-small card__button js-popup-open" href="#popup-bid"
                data-effect="mfp-zoom-in"><span>Place a bid</span>
                <svg class="icon icon-scatter-up">
                  <use xlink:href="#icon-scatter-up"></use>
                </svg></a>
            </div>
          </div><a class="card__link" href="item.html">
            <div class="card__body">
              <div class="card__line">
                <div class="card__title">Amazing digital art</div>
                <div class="card__price">2.45 ETH</div>
              </div>
              <div class="card__line">
                <div class="card__users">
                  <div class="card__avatar"><img src="assets/img/content/avatar-1.jpg" alt="Avatar" /></div>
                  <div class="card__avatar"><img src="assets/img/content/avatar-3.jpg" alt="Avatar" /></div>
                  <div class="card__avatar"><img src="assets/img/content/avatar-4.jpg" alt="Avatar" /></div>
                </div>
                <div class="card__counter">3 in stock</div>
              </div>
            </div>
            <div class="card__foot">
              <div class="card__status">
                <svg class="icon icon-candlesticks-up">
                  <use xlink:href="#icon-candlesticks-up"></use>
                </svg>Highest bid <span>0.001 ETH</span>
              </div>
              <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
            </div>
          </a>
        </div>
        <div class="card">
          <div class="card__preview"><img srcSet="assets/img/content/card-pic-6@2x.jpg 2x"
              src="assets/img/content/card-pic-6.jpg" alt="Card preview" />
            <div class="card__control">
              <div class="status-green card__category">purchasing !</div>
              <button class="card__favorite">
                <svg class="icon icon-heart">
                  <use xlink:href="#icon-heart"></use>
                </svg>
              </button><a class="button-small card__button js-popup-open" href="#popup-bid"
                data-effect="mfp-zoom-in"><span>Place a bid</span>
                <svg class="icon icon-scatter-up">
                  <use xlink:href="#icon-scatter-up"></use>
                </svg></a>
            </div>
          </div><a class="card__link" href="item.html">
            <div class="card__body">
              <div class="card__line">
                <div class="card__title">Ribbon Hunter</div>
                <div class="card__price">2.45 ETH</div>
              </div>
              <div class="card__line">
                <div class="card__users">
                  <div class="card__avatar"><img src="assets/img/content/avatar-1.jpg" alt="Avatar" /></div>
                  <div class="card__avatar"><img src="assets/img/content/avatar-3.jpg" alt="Avatar" /></div>
                  <div class="card__avatar"><img src="assets/img/content/avatar-4.jpg" alt="Avatar" /></div>
                </div>
                <div class="card__counter">3 in stock</div>
              </div>
            </div>
            <div class="card__foot">
              <div class="card__status">
                <svg class="icon icon-candlesticks-up">
                  <use xlink:href="#icon-candlesticks-up"></use>
                </svg>Highest bid <span>0.001 ETH</span>
              </div>
              <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
            </div>
          </a>
        </div>
        <div class="card">
          <div class="card__preview"><img srcSet="assets/img/content/card-pic-7@2x.jpg 2x"
              src="assets/img/content/card-pic-7.jpg" alt="Card preview" />
            <div class="card__control">
              <div class="status-green card__category">purchasing !</div>
              <button class="card__favorite">
                <svg class="icon icon-heart">
                  <use xlink:href="#icon-heart"></use>
                </svg>
              </button><a class="button-small card__button js-popup-open" href="#popup-bid"
                data-effect="mfp-zoom-in"><span>Place a bid</span>
                <svg class="icon icon-scatter-up">
                  <use xlink:href="#icon-scatter-up"></use>
                </svg></a>
            </div>
          </div><a class="card__link" href="item.html">
            <div class="card__body">
              <div class="card__line">
                <div class="card__title">Amazing digital art</div>
                <div class="card__price">2.45 ETH</div>
              </div>
              <div class="card__line">
                <div class="card__users">
                  <div class="card__avatar"><img src="assets/img/content/avatar-1.jpg" alt="Avatar" /></div>
                  <div class="card__avatar"><img src="assets/img/content/avatar-3.jpg" alt="Avatar" /></div>
                  <div class="card__avatar"><img src="assets/img/content/avatar-4.jpg" alt="Avatar" /></div>
                </div>
                <div class="card__counter">3 in stock</div>
              </div>
            </div>
            <div class="card__foot">
              <div class="card__status">
                <svg class="icon icon-candlesticks-up">
                  <use xlink:href="#icon-candlesticks-up"></use>
                </svg>Highest bid <span>0.001 ETH</span>
              </div>
              <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
            </div>
          </a>
        </div>
        <div class="card">
          <div class="card__preview"><img srcSet="assets/img/content/card-pic-1@2x.jpg 2x"
              src="assets/img/content/card-pic-1.jpg" alt="Card preview" />
            <div class="card__control">
              <div class="status-green card__category">purchasing !</div>
              <button class="card__favorite">
                <svg class="icon icon-heart">
                  <use xlink:href="#icon-heart"></use>
                </svg>
              </button><a class="button-small card__button js-popup-open" href="#popup-bid"
                data-effect="mfp-zoom-in"><span>Place a bid</span>
                <svg class="icon icon-scatter-up">
                  <use xlink:href="#icon-scatter-up"></use>
                </svg></a>
            </div>
          </div><a class="card__link" href="item.html">
            <div class="card__body">
              <div class="card__line">
                <div class="card__title">Amazing digital art</div>
                <div class="card__price">2.45 ETH</div>
              </div>
              <div class="card__line">
                <div class="card__users">
                  <div class="card__avatar"><img src="assets/img/content/avatar-1.jpg" alt="Avatar" /></div>
                  <div class="card__avatar"><img src="assets/img/content/avatar-3.jpg" alt="Avatar" /></div>
                  <div class="card__avatar"><img src="assets/img/content/avatar-4.jpg" alt="Avatar" /></div>
                </div>
                <div class="card__counter">3 in stock</div>
              </div>
            </div>
            <div class="card__foot">
              <div class="card__status">
                <svg class="icon icon-candlesticks-up">
                  <use xlink:href="#icon-candlesticks-up"></use>
                </svg>Highest bid <span>0.001 ETH</span>
              </div>
              <div class="card__bid">New bid <span role="img" aria-label="fire">🔥</span></div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="discover__btns">
      <button class="button-stroke button-small">Load more</button>
    </div>
  </div>
</div>