<div class="outer__inner">
  <div class="section-pt80 variants">
    <div class="">
      <div class="variants__top">
        <h1 class="variants__title h2">Choose your item category</h1>
        <div class="variants__info">Choose the category of the item you want to sell</div>
      </div>
      <div class="variants__list">
        <!-- Categories -->
        <app-category-item [link]="" [name]="'Equipments'"></app-category-item>
        <app-category-item [link]="" [name]="'Consumables'"></app-category-item>
        <app-category-item [link]="" [name]="'Pets'"></app-category-item>
        <app-category-item [link]="" [name]="'Weapons'"></app-category-item>
        <app-category-item [link]="" [name]="'Resources'"></app-category-item>
        <app-category-item [link]="" [name]="'Runes'"></app-category-item>

      </div>
      <div class="variants__note">We do not own your private keys and cannot access your funds without your
        confirmation.</div>
    </div>
  </div>
</div>