<div class="page__center">
  <div class="player">
      <app-page-header
        [subtitle]="'Wikipedia'"
        title="Professions"
        description="These are the professions Available in the game"
      >
    </app-page-header>
  </div>

  <div class="wikipedia-list">
      <div class="list-filters">

      </div>
      <div class="list">
          <app-wikipedia-item *ngFor="let profession of professions" routerLink="/wikipedia/professions/{{profession.id}}"
              [img]="'assets/img/wikipedia/category.png'"
              [name]="profession.name"
              [props]="null">
          </app-wikipedia-item>
      </div>

      <div class="pagination" >
          <button *ngFor="let item of [].constructor(totalPages); let i = index" (click)="changingPage(i+1)">{{i+1}}</button>
      </div>
  </div>

</div>