<!-- Page Header -->
<app-page-header
    [subtitle]="'Wikipedia'"
    [subtitleLink] = "'/wikipedia'"
    title="Harnesses"
    description="These are the harnesses Available in the game"
    >
</app-page-header>

<div class="px-16 py-8">
    <!-- List Of Items -->
    <app-wikipedia-list-item *ngFor="let harness of harnesses" routerLink="/wikipedia/harnesses/{{harness.id}}"
                [img]="'assets/img/wikipedia/category.png'"
                [name]="harness.name"
                [props]="null">
            </app-wikipedia-list-item>

    <!-- Paginator -->
    <mat-paginator [length]="totalItems"
                [pageSize]="itemsPerPage"
                (page) = "setPage($event)"
                aria-label="Select page">
            </mat-paginator>
  </div>