<mat-toolbar class="shadow">
  <button mat-icon-button class="sidebar-button no-outline" aria-label="Example icon-button with menu icon"
    (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="toolbar-left">
    <app-Navbar></app-Navbar>
  </div>


</mat-toolbar>

<mat-drawer-container class="sidebar-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div>
      <button routerLink="/dashboard" class="no-outline" mat-icon-button>
        <mat-icon class="">
          home
        </mat-icon>
      </button>
    </div>
    <div class="text-center logo">
      <img class="logo-img" src="/assets/img/concreet.png" alt="" style="">
      <p class="sidebar-username">{{_authService.decodedToken.unique_name[1].charAt(0).toUpperCase() }}.
        {{_authService.decodedToken.unique_name[2]}}</p>
      <p class="sidebar-usermail">{{_authService.decodedToken.unique_name[0]}}</p>
    </div>
    <div class="" style="margin-top: 20px;">
      <div>
        <button mat-button class="sidebar-link active" routerLink="/dashboard">
          <mat-icon class="sidebar-btn">dashboard</mat-icon> Dashboard
        </button>
      </div>
      <div>
        <button mat-button class="sidebar-link active" routerLink="/dashboard/statistics">
          <mat-icon class="sidebar-btn">bar_chart</mat-icon> Statistics
        </button>
      </div>
      <div class="sidebar-link-group">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="sidebar-btn">location_on</mat-icon> Wikipedia
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button class="sidebar-link active" routerLink="/dashboard/classes" mat-button>Classes</button>
            <button class="sidebar-link active" routerLink="/dashboard/consumables" mat-button>Consumables</button>
            <button class="sidebar-link active" routerLink="/dashboard/decors" mat-button>Decors</button>
            <button class="sidebar-link active" routerLink="/dashboard/equipments" mat-button>Equipments</button>
            <button class="sidebar-link active" routerLink="/dashboard/followers" mat-button>Followers</button>
            <button class="sidebar-link active" routerLink="/dashboard/furnitures" mat-button>Furnitures</button>
            <button class="sidebar-link active" routerLink="/dashboard/grounds" mat-button>Grounds</button>
            <button class="sidebar-link active" routerLink="/dashboard/harnesses" mat-button>Harnesses</button>
            <button class="sidebar-link active" routerLink="/dashboard/harvests" mat-button>Harvests</button>
            <button class="sidebar-link active" routerLink="/dashboard/haven-bags" mat-button>Haven Bags</button>
            <button class="sidebar-link active" routerLink="/dashboard/idols" mat-button>Idols</button>
            <button class="sidebar-link active" routerLink="/dashboard/locations" mat-button>Locations</button>
            <button class="sidebar-link active" routerLink="/dashboard/monsters" mat-button>Monsters</button>
            <button class="sidebar-link active" routerLink="/dashboard/mounts" mat-button>Mounts</button>
            <button class="sidebar-link active" routerLink="/dashboard/pets" mat-button>Pets</button>
            <button class="sidebar-link active" routerLink="/dashboard/professions" mat-button>Professions</button>
            <button class="sidebar-link active" routerLink="/dashboard/resources" mat-button>Resources</button>
            <button class="sidebar-link active" routerLink="/dashboard/sets" mat-button>Sets</button>
            <button class="sidebar-link active" routerLink="/dashboard/spells" mat-button>Spells</button>
            <button class="sidebar-link active" routerLink="/dashboard/weapons" mat-button>Weapons</button>

          </mat-expansion-panel>
        </mat-accordion>
      </div>


      <div class="sidebar-link-group">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="sidebar-btn">location_on</mat-icon> Forum
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button class="sidebar-link active" routerLink="/dashboard/forum-categories" mat-button>Forum Categories</button>
            <button class="sidebar-link active" routerLink="/dashboard/forum-report-comments" mat-button>Forum Report Comments</button>
            <button class="sidebar-link active" routerLink="/dashboard/forum-report-replies" mat-button>Forum Report replies</button>
            <button class="sidebar-link active" routerLink="/dashboard/forum-reports" mat-button>Forum Reports</button>

          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="sidebar-link-group">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="sidebar-btn">location_on</mat-icon> Market
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button class="sidebar-link active" routerLink="/dashboard/equipment-products" mat-button>Equipment Products</button>
            <button class="sidebar-link active" routerLink="/dashboard/products" mat-button>Products</button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      
      <div class="sidebar-link-group">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="sidebar-btn">account_circle</mat-icon> Users
              </mat-panel-title>
            </mat-expansion-panel-header>

            <button class="sidebar-link" routerLink="/dashboard/privileges" mat-button>Privileges</button>
            <button class="sidebar-link" routerLink="/dashboard/roles" mat-button>Roles</button>
            <button class="sidebar-link" routerLink="/dashboard/users" mat-button>Users</button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      
    </div>

  </mat-drawer>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>