<div class="section description">
  <div class="description__center center">
    <div class="description__wrap">
      <div class="description__stage">Put your dofus items on sold online</div>
      <h1 class="description__title h1">Sell your items online</h1>
      <div class="description__text">The best and the only dofus market you'll ever need</div>
      <div class="description__btns"><a class="button description__button" routerLink="/market/sell-product">Sell
          item</a><a class="button-stroke description__button" href="search01.html">Discover more</a></div>
    </div>
    <div class="description__gallery">
      <div class="description__preview"><img class="some-icon" srcSet="assets/img/content/cubes@2x.png 2x"
          src="assets/img/content/cubes.png" alt="Cubes"><img class="some-icon-dark"
          srcSet="assets/img/content/cubes-dark@2x.png 2x" src="assets/img/content/cubes-dark.png" alt="Cubes">
      </div>
      <div class="description__preview"><img class="some-icon" srcSet="assets/img/content/cube@2x.png 2x"
          src="assets/img/content/cube.png" alt="Cube"><img class="some-icon-dark"
          srcSet="assets/img/content/cube-dark@2x.png 2x" src="assets/img/content/cube-dark.png" alt="Cube"></div>
    </div>
  </div>
</div>